{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@models": "./src/models",
          "@utils": "./src/utils",
          "@store": "./src/store"
        }
      }
    ]
  ]
}
